.DS_*
*.log
node_modules
coverage
build

android/*.iml
android/local.properties
android/.idea
android/gradlew*
android/gradle/wrapper
android/build
android/libs

ios/*/project.xcworkspace
ios/*/xcuserdata
ios/**/*.framework
ios/Carthage
Cartfile.resolved
android/.gradle
